

/*--- Contact.html ---*/

.contactintro{
    margin: 5% auto;
    text-align: center;
    font-size: 175%;
    font-weight: 200;
}

.contactintro h2{
    margin-bottom: 2%;
}

#contact{
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 5px;
    padding: 5%;
    width: 90%;
    margin: 0 auto;
}

#contact input{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1%;
    width: 100%;
    margin: 2% auto;
}

#contact #message{
    padding-bottom: 5%;
}

#contact button{
    width: 100%;
    background-color: rgb(54, 182, 54);
    border: 1px solid  rgb(54, 182, 54);
    border-radius: 5px;
    color: white;
    padding: 1%;
}
